@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/variables" as *;

.lists {
  width: 100%;
  max-width: 1024px;
  margin: 10px 0 0 0;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  
  @include desktop {
    margin: 20px 0;
  }
  
  &__best, &__dark {
    height: 100%;
    margin: 10px 0;
    border-radius: 10px;
    width: 45%;
    text-align: left;
    overflow: hidden;

    
    h4 {
      padding: 10px 0 10px 10px;
      width: 100%;
    }
    
    ul {
      list-style: inside;
      padding: 10px;
      background-color: rgba($color-dark, 0.1);
    }

    li {
      text-decoration: none;
      padding-left: 10px;
      color: $color-dark;
      font-size: 0.75rem;
    }

    h4, li {
      @include desktop {
        font-size: 1.5rem;
      }
    }
  }


}