@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.button {
  border: none;
  border-radius: 10px;
  background-color: $color-button;
  color: $color-dark;
  padding: 10px 20px;
  width: 100px;
  box-shadow: 2px 2px 10px 0px rgba(24,29,49,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: $color-dark;
    color: $color-button;
    cursor: pointer;
  }

  @include tablet {
    border-radius: 20px;
    padding: 15px 40px;
    width: 150px;
    font-size: 1.5rem;
  }
}