@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.leader-page {
  width: 100%;
  max-width: 1200px;
  background-color: rgba($color-secondary, 0.75);
  // min-height: 90vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0px rgba(24,29,49,0.1);
  position: relative;

  &__cross {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      height: 45vh;
      gap: 20px;
      max-width: 1024px;
    }
    
    
    &--text {
      
      text-align: left;
      border-bottom: 1px solid $color-accent;

      @include desktop {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      &-title, &-quote, &-exemplar {
        padding-bottom: 10px;

        @include desktop {
          font-size: 2rem;
          padding-bottom: 20px;
        }
      }

      &-title {
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgba($color-dark, 0.2);
      
        @include desktop {
          font-size: 3rem;
        }
      }

      &-quote {
        font-style: italic;
        color: $color-accent;
        font-weight: 400;
      }
    }

    &--image {

      @include desktop {
        height: 100%;
        padding-left: 20px;
      }

      img {
        width: 50%;
        border-radius: 10px;
        
        @include desktop {
          width: auto;
          max-height: 100%;
        }
      }
    }
  }

  &__character {
    
    padding: 10px;
    margin: 0 10px;
    text-align: left;
    max-width: 1024px;

    @include desktop {
      font-size: 1.5rem;
      margin: 20px 0;
    }

    &--title {
      padding-bottom: 10px;

      @include desktop {
        padding-bottom: 20px;
      }
    }
   
  }

  
}