@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.leaders {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.leaders__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
}
@media (min-width: 768px) {
  .leaders__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .leaders__grid {
    width: 80%;
  }
}