@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  min-height: 100vh;
}