@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.leader-card {
  height: 20vh;
  width: auto;
  margin: auto;
  aspect-ratio: 1;
  padding: 10px;
  background-color: rgba(221, 221, 221, 0.2);
  color: #0c0c0c;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(24, 29, 49, 0.1);
  text-decoration: none;
}
.leader-card:hover {
  background-color: rgba(242, 241, 238, 0.5);
}
@media (min-width: 768px) {
  .leader-card {
    height: 22vh;
  }
}
@media (min-width: 1024px) {
  .leader-card {
    height: 25vh;
  }
}
@media (min-width: 1200px) {
  .leader-card {
    height: 30vh;
  }
}
.leader-card__image {
  height: 75%;
  margin-bottom: 10px;
}
.leader-card__image img {
  height: 100%;
}
.leader-card h1 {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .leader-card h1 {
    font-size: 1rem;
  }
}