@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

$color-white: #f2f1ee;
$color-secondary: #dddddd;
$color-accent: #888888;
$color-dark: #0c0c0c;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1200px;